{% extends 'artist/base.html' %}

{% block css %} 
	<link rel="stylesheet" type="text/css" href="/static/artist/about.css" /> 
{% endblock %}

{% block title %} About {% endblock %}

{% block page-title %} 
	<h3> Placeholder title for about </h3> 
{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li><a href="{% url 'artist:index' %}"> Home</a></li>
    <li><a href="{% url 'artist:gallery' %}"> Gallery</a></li>
    <li class="active"><a href="{% url 'artist:about' %}"> About</a></li>
    <li><a href="{% url 'artist:contact' %}"> Contact</a></li>
</ul>
{% endblock %}
{% block content %}
	<p> Sample content </p>
{% endblock %}